*, *::after, *::before {
    box-sizing: border-box;
}

body {
    color: #1a1b1c;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .5s;
}

a:hover {
    color: #ffca05;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-size: 28px;
    position: relative;
    text-transform: uppercase;
    margin-top: -70px;
    padding-top: 70px;
    margin-bottom: 30px;
}

.title:before {
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    background-color: #ffca05;
    top: 105px;
}

.cv {
    display: flex;
    justify-content: space-between;
}

.cv__left {
    max-width: 400px;

}

.cv__right {
    max-width: 700px;
}

.main{
    padding-top: 73px;
}

.background__box-grey {
    background-color: #ebebeb;
    padding-right: 30px;
    padding-left: 30px;
}

/*header*/

.header{
    position: fixed;
    z-index: 100;
    width: 100%;
}

.header__box{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffca05;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

.menu__list{
    display: flex;
    justify-content: space-between;
}

.logo__img{
    margin-left: 20px;
    max-height: 50px;
    max-width: 50px;


}

.menu__list-item{
    color: #1a1b1c;
    font-weight: 500;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.menu__list-link:hover{
    color: #fff;
}


/*.personal-info*/

.personal-info {
    background-color: #1a1b1c;
    color: #fff;
}

.personal-info__box {
    padding: 10px 30px 30px;
}

.personal-info__img {
    max-width: 250px;
    display: block;
    margin: 20px auto;
}

.personal-info__yellow-card {
    font-size: 18px;
    background-color: #ffca05;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto 20px;
    color: #1a1b1c;
    position: relative;
    text-align: center;
    width: 250px;
}

.personal-info__yellow-card:after,
.personal-info__yellow-card:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 75px;
    top: 15px;
    background-color: #ffca05;
}

.personal-info__yellow-card:before {
    left: -75px;
}

.personal-info__yellow-card:after {
    right: -75px;
}


.personal-info__subtitle {
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.personal-info__text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.personal-info__text:last-child {
    margin-bottom: 0;
}

/*skills*/

.skills {
    padding-top: 30px;
    padding-bottom: 30px;
}

.skills__inner {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-gap: 20px;


}

.skills__img {
    max-width: 100px;
    max-height: 70px;
    align-self: center;
    justify-self: center;
}

.skills__img:nth-child(10) {
    grid-column: 2 / 4;
    max-width: 155px;
    max-height: 79px;
}


/*contacts*/

.contacts {
    padding-bottom: 30px;
}

.contacts__list {
    list-style: none;
    position: relative;
}

.contacts__list:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 229px;
    background-color: #ffca05;
    top: -6px;
}

.contacts__list-phone {
    position: relative;
    padding-left: 40px;
    margin: 20px 0 20px 20px;
}

.contacts__list-phone:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    left: -9px;
    top: 10px;
    background-image: url("../img/phone.png");
}

.contacts__list-email {
    position: relative;
    padding-left: 40px;
    margin: 20px 0 20px 20px;
}

.contacts__list-email:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 25px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    left: -11px;
    top: 11px;
    background-image: url("../img/gmail.png");
}

.contacts__list-adress {
    position: relative;
    padding-left: 40px;
    margin: 20px 0 20px 20px;
}

.contacts__list-adress:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 35px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    left: -7px;
    top: 6px;
    background-image: url("../img/location.png");
}


.contacts__list-text {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.contacts__list-location {
    font-size: 18px;
    font-weight: 400;
}

.contacts__list-link {
    font-size: 18px;
    font-weight: 400;
}

/*profile-info*/

.profile-info {
    margin-bottom: 40px;
    position: relative;
}

.profile-info:before {
    content: '';
    position: absolute;
    width: 830px;
    height: 360px;
    top: 0;
    left: -130px;
    background-color: #ebebeb;
    z-index: -100;
}


.profile-info__title-main {
    font-size: 72px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.profile-info__title-main span {
    font-size: 72px;
    font-weight: 500;
}

.profile-info__subtitle {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 5px 10px 3px;
    background-color: #ffca05;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    margin-bottom: 20px;
}

.profile-info__text {
    max-width: 670px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #555555;
}

/*languages*/

.languages {
    margin-bottom: 30px;
}

.languages__text {
    font-size: 20px;
}


/*experinces*/

.experience {
    margin-bottom: 30px;
}


.experience__table-tr {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}

.experience__table-td {
    padding: 10px 30px 10px 0;
    vertical-align: middle;
}


/*code*/

.code__title{
    margin-bottom: 15px;
}

.code__content{
    margin-right: 20px;
    display: block;
    font-size: 14px;
}

.hljs__custom-style{
    box-shadow: 12px 13px 20px -5px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

/*projects*/

.projects__items{
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.projects__item{
    position: relative;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.projects__item:last-child {
    margin-bottom: 0;
}

.projects__item-img{
    max-width: 680px;
    object-fit: cover;
    border-radius: 20px;
}

.projects__item-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s;
    border-radius: 20px;
}

.projects__info-title{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

.projects__info-title:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #ffca05;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.projects__item-info.active{
    opacity: 1;
}

/*personality*/

.personality {
    margin-bottom: 20px;
}

.personality__list {
    list-style: none;
    max-width: 575px;
}

.personality__list-item {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 7px 10px;
    background-color: #ffca05;
    border-radius: 10px;
    letter-spacing: 2px;
}

/*hobbies*/

.hobbies {
    margin-bottom: 30px;
}

.hobbies__img {
    max-width: 60px;
    margin-right: 20px;
}

.hobbies__img:last-child {
    margin-right: 0;
}

/*footer*/

.footer__box{
    background-color: #ffca05;
    padding: 10px 20px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 35px;
    font-weight: 500;
    position: relative;
}

.footer__info:after{
    content: '';
    position: absolute;
    background-image: url("../img/footer-logo.svg");
    width: 20px;
    height: 20px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    left: -25px;
    top: -1px;

}


.footer__info-link:hover{
    color: #fff;
}

.footer__logo-img{
    width: 100px;
}


/*menu burger*/

.menu-btn{
    display: none;
    width: 40px;
    padding: 0;
    z-index: 20;
    height: 30px;
    position: relative;
    margin-right: 20px;
}

.menu-btn span{
    display: block;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

.menu-btn span:after,
.menu-btn span:before {
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 10px;
    width: 40px;
    background-color: #fff;
}

.menu__list-item{
    padding: 15px 0;
}

.menu-btn span:before {
    top: -10px;
    left: 0;
}

.menu-btn span:after {
    top: 10px;
    left: 0;
}

/*adaptive*/

@media (max-width: 1170px) {
    .cv {
        display: block;
    }

    .cv__right{
        margin-bottom: 10px;
    }

    .cv__left, .cv__right {
        max-width: 100%;
    }

    .personal-info__box {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    .personal-info__img {
        margin: 0 50px 0 0;
    }

    .personal-info__yellow-card {
        width: 100%;
    }

    .personal-info__yellow-card:after,
    .personal-info__yellow-card:before {
        display: none;
    }

    .background__box-grey {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .skills {
        margin: 0 50px 0 0;
    }

    .contacts__list:before {
        height: 210px;
        top: -20px;
    }

    .profile-info {
        margin: -40px auto 40px;

    }

    .profile-info::before {
        width: 100%;
        left: 0;
    }

    .profile-info {
        margin: -40px 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title.profile-info__title::before {
        width: 100%;
    }

    .profile-info__title-main {
        padding-top: 0;
    }

    .languages {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .title.languages__title::before,
    .title.experience__title::before,
    .title.personality__title::before,
    .title.code__title::before,
    .title.projects__title::before,
    .title.hobbies__title::before {
        width: 100%;
    }

    .experience, .github, .personality, .code, .projects, .hobbies {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience__table-td {
        max-width: 500px;
        border: 1px solid #ffca05;
        padding-right: 10px;
        padding-left: 10px;
    }

    .experience__table-tr > .experience__table-td {
        margin-right: 0;
    }

    .code__content{
        margin-right: 0;
    }

    .projects__items {
        margin-right: 0;
    }

    .hljs__custom-style{
        width: 100%;
        padding: 0.5rem 2.5rem !important;
    }
}

@media(max-width: 880px){
    .menu-btn{
        display: block;
    }

    .menu__list{
        transform: translateY(-150%);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffca05;
        margin-top: 73px;
        padding-bottom: 30px;
        text-align: center;
        width: calc(100% - 20px);
        margin-right: auto;
        margin-left: auto;
    }

    .menu__list-item{
        margin-right: 0;
    }

    .menu__list.active {
        transform: translateY(0);
    }

    .projects__item-img {
        max-width: 600px;
    }
}

@media (max-width: 720px) {
    .personal-info__box {
        display: block;
        padding: 20px 10px;
    }

    .personal-info__img {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .personal-info__box-adaptive {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title.personal-info__title:before {
        width: 100%;
    }

    .personal-info__subtitle {
        font-size: 16px;
    }

    .personal-info__text {
        font-size: 14px;
    }

    .title{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .title::before{
        top: 95px;
    }

    .background__box-grey {
        background-color: #fff;
        display: block;
    }

    .skills, .contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .skills__inner{
        grid-template-columns: repeat(6, 50px);
        grid-gap: 10px;
    }

    .skills__img {
        max-width: 50px;
    }

    .skills__img:nth-child(10) {
        grid-column: 4 / 6;
        max-width: 100px;
        max-height: 60px;
    }

    .title.skills__title:before {
        width: 100%;
    }

    .contacts__list:before {
        display: none;
    }

    .profile-info {
        margin: -40px 0 20px;
    }

    .profile-info:before{
        display: none;
    }

    .profile-info__title-main {
        font-size: 48px;
    }

    .profile-info__title-main span {
        font-size: 48px;
    }

    .profile-info__subtitle {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .profile-info__text {
        text-align: center;
    }

    .languages{
        padding-top: 0;
    }

    .languages__text{
        font-size: 16px;
    }

    .experience__table-tr {
        font-size: 16px;
        line-height: 20px;
    }

    .personality__list{
        text-align: center;
    }

    .personality__list-item{
        font-size: 16px;
    }

    .code__title{
        margin-bottom: 5px;
    }

    .code__content{
        font-size: 12px;
    }

    .projects__item-img {
        max-width: 450px;
    }

    .projects__item-info{
        font-size: 16px;
    }

    .footer__inner{
        flex-direction: column;
    }

    .footer__info{
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer__info:after {
        width: 16px;
        height: 16px;
        left: -22px;
        top: -2px;
    }

    .menu__list-item{
        font-size: 16px;
    }

}


@media(max-width: 520px){

    .background__box-grey {
        padding-right: 0;
        padding-left: 0;
    }

    .personal-info__img {
        max-width: 220px;
    }

    .contacts__list-text{
        font-size: 16px;
    }

    .contacts__list-link,
    .contacts__list-location{
        font-size: 14px;
    }

    .profile-info__title-main {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .profile-info__title-main span {
        font-size: 30px;
    }

    .profile-info__subtitle {
        font-size: 14px;
    }

    .profile-info__text {
        font-size: 14px;
    }

    .languages__text{
        font-size: 16px;
    }

    .experience__table-tr {
        font-size: 14px;
        line-height: 26px;
    }

    .experience__table-td {
        padding: 5px;
    }

    .personality__list{
        width: 100%;
    }

    .personality__list-item{
        display: block;
        font-size: 14px;
        max-width: 100%;
    }

    .code__content{
        font-size: 11px;
    }

    .hljs__custom-style {
        padding: 0.5rem 1rem !important;
    }

    .projects__item-img {
        max-width: 350px;
    }

    .projects__item-info{
        font-size: 14px;
    }

    .hobbies__img {
        max-width: 50px;
        margin-right: 10px;
    }

    .footer__info{
        font-size: 14px;
    }

    .footer__info:after {
        width: 13px;
        height: 13px;
        left: -18px;
        top: -1px;
    }

    .menu__list-item{
        font-size: 14px;
    }

}

@media(max-width: 400px){

    .personal-info__img {
        max-width: 180px;
    }

    .title{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .title::before{
        top: 87px
    }

    .personal-info__yellow-card {
        font-size: 14px;
    }

    .personal-info__subtitle {
        font-size: 14px;
    }

    .personal-info__text {
        font-size: 12px;
    }

    .skills__inner{
        grid-template-columns: repeat(4, 40px);
        grid-gap: 10px;
    }

    .skills__img {
        max-width: 40px;
        max-height: 50px;
    }

    .skills__img:nth-child(10) {
        grid-column: 2 / 4;
        max-width: 90px;
        max-height: 50px;
    }

    .profile-info__subtitle{
        font-size: 12px;
    }

    .profile-info__text {
        font-size: 12px;
    }

    .languages__text{
        font-size: 14px;
    }

    .experience__table-tr {
        font-size: 10px;
        line-height: 18px;
    }
    .experience__table-td {
        padding: 2px;
    }

    .code__content{
        font-size: 9px;
    }

    .projects__item-info{
        font-size: 12px;
    }

    .hljs__custom-style {
        padding: 0.3rem 0.2rem !important;
    }

    .projects__item-img {
        max-width: 280px;
    }

}
